/* src/components/pages/Swiper/swiper.css */
.mySwiper {
  width: 100%;
  height: 900px;
}

.slide-box {
  background: linear-gradient(135deg, #3b587a, #1b2a3a);
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

@media screen and (max-width: 576px) {
  .mySwiper {
    width: 100%;
    height: 200px;
  }
  /* .mySwiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
}
